:root {
  --horizontal-spacing-lg: 10%;
  --horizontal-spacing-sm: 4%;
  --text-primary: #000;
  --text-seconday: #585858;
  --text-white: #fff;
  --text-danger-light: #d04b45;
  --text-danger: #b83a34;
  --btn-bg-primary: #eb661e;
  --progress-bar-color: #d04b45;
  --background-primary: #fffefc;
  --background-secondary: #faf9f7;
  --box-shadow: #00000029;
  --divider-color: #707070;
  --footer-bg: #111518;
  --footer-text: #6c737d;
  --footer-divider: rgba(255, 255, 255, 0.1);
}

@font-face {
  font-family: "nunito";
  src: url("../assests/fonts/nunito/NunitoSans-ExtraBold.ttf");
  font-weight: bolder;
  font-style: bolder;
}
@font-face {
  font-family: "nunito";
  src: url("../assests/fonts/nunito/NunitoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "nunito";
  src: url("../assests/fonts/nunito/NunitoSans-Black.ttf");
  font-weight: 800;
  font-style: 800;
}
@font-face {
  font-family: "metropolis";
  src: url("../assests/fonts/metropolis/Metropolis-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "metropolis";
  src: url("../assests/fonts/metropolis/Metropolis-Medium.ttf");
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "metropolis";
  src: url("../assests/fonts/metropolis/Metropolis-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "metropolis";
  src: url("../assests/fonts/metropolis/Metropolis-SemiBold.ttf");
  font-weight: semiBold;
  font-style: semiBold;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
main {
  position: relative;
  margin-top: 15vh;
}
.footer_container {
  padding: 10px;
  background-color: var(--footer-bg);
}
.footer_layout {
  margin: 20px 5% 0px;
  font-family: nunito;
}
.footer_menu {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.footer_menu_item {
  margin: 10px 20px 10px 0;
  font-family: nunito;
  font-weight: bold;
  color: var(--footer-text);
  cursor: pointer;
}
.footer_menu_item:hover {
  color: var(--text-white);
}

.copyrights {
  padding: 10px;
  color: var(--footer-text);
  border-top: 1px solid var(--footer-divider);
}
@media screen and (max-width: 768px) {
  main {
    margin-top: 9vh;
  }
}
