.header_container {
  position: fixed;
  width: 100% !important;
  top: 0;
  font-family: nunito;
  padding: 0 var(--horizontal-spacing-lg);
  padding-top: 30px;
  height: 90px;
  background-color: var(--text-white);
  z-index: 10;
}
.logo {
  user-select: none;
  width: 23%;
}
@media screen and (max-width: 1020px) {
  .logo {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .header_container {
    height: 70px;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
  }
  .logo {
    position: relative;
    object-fit: "cover";
    width: 50%;
    display: block;
    margin: auto;
  }
}
