/* heading styles */

.heading_container {
  margin: 15px auto;
}
.heading {
  font: normal normal bolder 30px/50px nunito;
}

/* plaground styles */

.playground_container {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.editor_container {
  position: relative;
  width: 65%;
}
.text_editor_container {
  position: relative;
  /* resize: none; */
  width: 100%;
  min-height: 55vh;
  padding: 25px;
  font-family: nunito;
  font-size: 17px;
  line-height: 25px;
  box-shadow: 1px 1px 6px #00000029;
  border-radius: 10px;
  margin-bottom: 5px;
}
.text_editor {
  position: relative;
  width: 100%;
  margin-bottom: 7vh;
}
.text_editor:focus {
  outline: none;
}
.text_editor_placeholder {
  position: absolute;
  font-family: nunito;
  opacity: 0.7;
  font-weight: normal;
  font-size: 17px;
  user-select: none;
  z-index: -1;
}
.editor_menu {
  position: absolute;
  height: 7vh;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  width: 100%;
  padding: 25px;
}
.word_count,
.editor_cmd {
  font-family: metropolis;
  font-weight: normal;
  font-size: 14px;
  color: var(--text-seconday);
}

.editor_cmd > span {
  cursor: pointer;
  margin: auto 10px;
}
.editor_cmd {
  position: relative;
  display: flex;
  align-items: center;
}
.editor_cmd_icon {
  position: relative;
  font-size: 16px;
  transform: translateY(12.5%);
}
.editor_cmd > span:nth-child(1):hover {
  color: var(--text-primary);
}
.editor_cmd > span:nth-child(2) {
  color: var(--text-danger-light);
}
.editor_cmd > span:nth-child(2):hover {
  color: var(--text-danger);
}

.analyse_btn {
  text-transform: capitalize !important;
  font-family: Metropolis !important;
  font-size: 14px !important;
  background-color: var(--btn-bg-primary) !important;
  color: var(--text-white);
  padding: 11px 30px 8px;
  box-shadow: 1px 1px 5px #0000004d;
  /* display: block; */
  margin: 20px 0 20px;
  border-radius: 14px;
}

.response_container {
  width: 35%;
  padding: 5%;
}
.ai_response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: metropolis;
}
.ai_percentage {
  font-weight: bold;
  font-size: 40px;
  margin: 5px auto;
}
.ai_sub_text {
  font-size: 17px;
  margin: 10px auto 15px;
}
.action_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.response_container_sm {
  display: none;
}
@media screen and (max-width: 900px) {
  .editor_container {
    width: 100%;
  }
  .playground_container {
    flex-direction: column;
  }
  .response_container {
    display: none;
  }
  .response_container_sm {
    display: initial;
    font-family: nunito;
  }
  .action_container {
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .heading {
    font: normal normal bolder 26px/50px nunito;
  }

  .ai_percentage {
    font-size: 35px;
  }
  .ai_sub_text {
    font-weight: bold;
  }
  .loader {
    height: 50px;
    margin: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
}
