/* heading styles */

.heading_container {
  margin: 20px var(--horizontal-spacing-lg);
}
.heading {
  font: normal normal bolder 35px/50px nunito;
}
.sub_heading {
  margin: 0;
  color: var(--text-primary);
  font-size: 28px;
  font-weight: 800;
  /* line-height: 50px; */
  font-family: nunito;
  width: 80dvh;
  /* margin: 15px var(--horizontal-spacing-lg); */
}

/* plaground styles */

.playground_container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  /* min-height: calc(100dvh - 15dvh); */
}
.editor_container {
  position: relative;
  width: 70%;
}

.text_editor_container {
  position: relative;
  /* resize: none; */
  background-color: var(--text-white);
  width: 100%;
  min-height: 60vh;
  padding: 15px;
  font-family: nunito;
  font-size: 17px;
  line-height: 25px;
  box-shadow: 1px 1px 6px var(--box-shadow);
  border-radius: 10px;
  margin-bottom: 5px;
}

.text_editor {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(52vh - 7vh);
  font-family: nunito !important;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7vh;
  background-color: transparent !important;
  border: none;
}

.text_editor:focus {
  outline: none;
}
.text_editor_placeholder {
  position: absolute;
  font-family: nunito;
  opacity: 0.7;
  font-weight: normal;
  font-size: 17px;
  user-select: none;
  z-index: 0;
}
.editor_menu {
  position: absolute;
  height: 7vh;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  width: 100%;
  padding: 25px;
}
.word_count_lg,
.editor_cmd {
  font-family: nunito;
  font-weight: normal;
  font-size: 14px;
  color: var(--text-seconday);
}
.word_count_sm {
  display: none;
}
.editor_cmd > span {
  cursor: pointer;
  margin: auto 10px;
}
.editor_cmd {
  position: relative;
  display: flex;
  align-items: center;
}
.editor_cmd_icon {
  position: relative;
  font-size: 16px;
  transform: translateY(12.5%);
}
.editor_cmd > span:nth-child(1):hover {
  color: var(--text-primary);
}
.editor_cmd > span:nth-child(2) {
  color: var(--text-danger-light);
}
.editor_cmd > span:nth-child(2):hover {
  color: var(--text-danger);
}

.analyse_btn {
  text-transform: capitalize !important;
  font-family: nunito !important;
  font-size: 14px !important;
  background-color: var(--btn-bg-primary) !important;
  color: var(--text-white) !important;
  padding: 11px 30px 8px !important;
  box-shadow: 1px 1px 5px #0000004d !important;
  /* display: block; */
  margin: 10px 0 10px !important;
  border-radius: 14px !important;
}
.analyse_btn_disabled {
  opacity: 0.7 !important;
  cursor: not-allowed !important;
}
.response_container {
  position: sticky;
  top: 100px;
  width: 28%;
  padding-left: 1.5%;
}
.ai_response {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: nunito;
  box-shadow: 1px 1px 6px var(--box-shadow);
  border-radius: 7px;
  padding: 10px;
  height: 20%;
}
.ai_percentage_default {
  font-weight: bold;
  font-size: 30px;
  margin: 5px auto;
}
.ai_percentage {
  font-weight: bold;
  font-size: 18px;
  margin: 0px auto 15px;
  padding-top: 10px;
}
.ai_sub_text {
  font-size: 16px;
  margin: 5px auto;
}
.social_container {
  /* background-color: #0000ee; */
  position: relative;
  width: 100%;
  height: calc(61vh - 20vh);
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.social_heading {
  font-size: 19px;
  font-weight: bolder;
  margin: 10px auto 5px;
  text-align: center;
}
.social_subheading {
  margin: 2px auto 5px;
  text-align: center;
}
.social_msg_box {
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  border: 1px solid var(--border-color);
  font-size: 14px;
  margin-top: 15px;
}
.social_btn {
  margin-top: 15px;
  padding: 0px 15px;
  background-color: #03a9f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-primary);
  border-radius: 10px;
  cursor: pointer;
}

.action_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
/* .response_container_sm {
  display: none;
} */

/* features */

.feature_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60dvh;
  width: calc(100dvw - (2 * var(--horizontal-spacing-lg)) + 100px);
  align-self: center;
  margin: 40px auto;
}
.feature_card {
  position: relative;
  width: 300px;
  height: 48dvh;
  margin: 15px;
  box-shadow: 1px 1px 6px var(--box-shadow);
  border-radius: 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 25px;
  font-family: nunito;
  background-color: var(--text-white);
}
.feature_card_icon {
  position: relative;
  height: 30%;
}

.card_title {
  font-family: nunito;
  position: relative;
  width: 95%;
  /* height: 20%; */
  font-weight: bold;
  font-size: 20px;
}
.card_desc {
  font-family: nunito;
  /* height: 40%; */
  width: 90%;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-top: 10px;
}
.card_icon {
  margin: 0 15px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.feature_square {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100px;
  height: 100px;
  margin: auto var(--horizontal-spacing-lg);
}
.feature_circle {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100px;
  height: 100px;
  margin: auto var(--horizontal-spacing-lg);
}

/* our motives  */

.ourmotive_content {
  margin: 0 var(--horizontal-spacing-lg);
  /* font-family: nunito; */
}
.section_desc {
  font-family: nunito;
  line-height: 24px;
  margin: 0;
  font-size: 17px;
  letter-spacing: 0.4px;
  margin: 20px 0 15px;
  width: 80%;
}

/* sections */

.section_creative_container {
  position: relative;
  width: 40%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_creative_img {
  width: 80%;
  height: 50vh;
  object-fit: cover;
  z-index: 2;
}
.section_creative_square,
.section_creative_circle {
  position: absolute;
  z-index: 0;
}
.section_creative_square {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.section_creative_circle {
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
}
.section_content_container {
  width: 40%;
  margin: 0 20px;
  font-family: nunito;
}

/* usecases */

.usecases_card {
  width: 33%;
  display: flex;
}

/* testimonial conatiner */
.testimonial_container {
  position: relative;
  /* width: calc(100% - (2 * var(--horizontal-spacing-lg))); */
  margin: 20px var(--horizontal-spacing-lg);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.testimonials {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial_card {
  position: relative;
  width: 30% !important;
  height: 40vh !important;
  background-color: var(--text-white);
  box-shadow: 1px 1px 6px var(--box-shadow);
  border-radius: 10px;
  margin: 10px;
  padding: 25px;
  max-width: 400px;
  /* background-color: black; */
}
.testimonial_desc {
  font-family: nunito;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 15px 0;
  /* height: 56%; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: calc(6);
  -webkit-box-orient: vertical;
}
.testimonial_rating {
  height: 10%;
}
.testimonial_user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
}
.testimonial_user_name {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: bold;
  /* line-height: 50px; */
  font-family: nunito;
  margin-left: 10px;
}
.testimonial_user_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
/* faq */
.accordion_container {
  width: 80%;
}
.accordion_title {
  font: normal normal normal 18px nunito;
  letter-spacing: 0.4px;
  margin-left: 10px;
}
.accordion_desc {
  font: normal normal normal 16px/24px nunito;
}
/* common */
.secondary_bg_container_70 {
  min-height: 65dvh;
  background-color: var(--background-secondary);
}
.secondary_bg_40 {
  background-color: var(--background-secondary);
  min-height: 50dvh;
}

.secondary_bg {
  background-color: var(--background-secondary);
}
.primary_bg_container_70 {
  min-height: 65dvh;
  background-color: var(--background-primary);
}
.primary_bg_40 {
  background-color: var(--background-primary);
  min-height: 50dvh;
}
.flex_center_center_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex_start_center_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flex_center_start_column_wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex_start_start_column_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.margin_vertical_lg {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin_vertical_md {
  margin-top: 25px;
  margin-bottom: 25px;
}
.margin_top_md {
  margin-top: 28px !important;
}
.margin_bottom_md {
  margin-bottom: 25px;
}
.padding_vertical_md {
  padding-top: 25px;
  padding-bottom: 25px;
}
.padding_vertical_sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding_bottom_md {
  padding-bottom: 25px;
}
.padding_bottom_sm {
  padding-bottom: 10px;
}
.padding_vertical_lg {
  padding-top: 40px;
  padding-bottom: 40px;
}
.margin_horizontal_md {
  margin-left: 10%;
  margin-right: 10%;
}
.margin_horizontal_sm {
  margin-left: 0%;
  margin-right: 0%;
}
.layout_spacing {
  margin-left: 10%;
  margin-right: 10%;
}
.link_style {
  color: #0000ee;
}
@media screen and (max-width: 900px) {
  .margin_horizontal_md {
    margin-left: 0%;
    margin-right: 0%;
  }
  .margin_horizontal_sm {
    margin-left: 4%;
    margin-right: 4%;
  }
  .sub_heading {
    text-align: center;
    width: 100%;
  }
  .layout_spacing {
    margin-left: 4%;
    margin-right: 4%;
  }
  .editor_container {
    width: 100%;
  }
  .playground_container {
    flex-direction: column;
  }
  .analyse_btn {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .editor_menu {
    background-color: var(--background-secondary);
    margin-bottom: 0;
  }
  .word_count_lg {
    display: none;
  }
  .editor_cmd {
    width: 100%;
    justify-content: space-between;
  }
  .editor_cmd > span {
    width: 50%;
    margin: 0;
    text-align: center;
  }
  .editor_cmd > span:first-child {
    border-right: 2px solid var(--divider-color);
  }
  .action_container {
    flex-direction: column-reverse;
    margin-top: 27px;
  }
  .word_count_sm {
    display: block;
    font-family: nunito;
    color: var(--text-seconday);
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
  }
  .response_container {
    width: 100%;
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--background-secondary);
    border-radius: 10px;
    /* display: none; */
  }
  /* .response_container_sm {
    display: initial;
    font-family: nunito;
  } */
  .section_desc {
    text-align: center;
    width: 100%;
  }
  .section_creative_img {
    width: 85%;
  }
  .card_title {
    font-size: 16px;
    width: 100%;
  }
  .card_desc {
    font-size: 14px;
    width: 95%;
  }
  .testimonial_container {
    width: 100%;
    margin: 0;
  }
  .testimonials {
    width: 100%;
    flex-direction: column;
  }
  .testimonial_card {
    width: 90% !important;
    height: 40dvh !important;
  }
  .accordion_container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .feature_container {
    margin-top: 40px;
  }
  .heading_container {
    margin: 20px var(--horizontal-spacing-sm);
    text-align: center;
  }
  .heading {
    font: normal normal bolder 24px/32px nunito;
    padding-top: 10px;
  }
  /* .sub_heading {
    width: auto;
  } */
  .response_container {
    height: auto;
    padding: 0 !important;
    background-color: white;
  }
  .ai_response {
    padding: 20px !important;
  }
  .ai_percentage {
    font-size: 19px;
  }
  .ai_sub_text {
    font-weight: bold;
  }
  /* .loader {
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .feature_content {
    width: calc(100dvw - (2 * var(--horizontal-spacing-sm)));
  }
  .feature_square,
  .feature_circle {
    margin: auto var(--horizontal-spacing-sm);
  }

  .ourmotive_content {
    margin: auto var(--horizontal-spacing-sm);
  }
  .section_creative_container {
    width: 100%;
  }
  .section_content_container {
    width: 100%;
  }
  .usecases_card {
    width: 100%;
  }
}

@media screen and (max-height: 680px) {
  .testimonial_desc {
    -webkit-line-clamp: calc(4);
  }
}
/* @media screen and (min-height: 800px) {
  .testimonial_card {
    height: 36dvh !important;
  }
} */
